body { 
  color : Lime  ;
  font-family : "Comic Sans MS";
  background-image : url("http://fc08.deviantart.net/fs70/f/2012/067/a/a/newage_wallpaper_oil_pump_green_by_vaccieaux-d4s5cza.jpg");
  background-size: 1280px 720px;
  background-repeat: no-repeat;
  background-position:  left center;
}
table, td {
    border: 1px solid #B0B0B0;
    border-collapse: collapse;
}
td {
    padding: 15px;
}
