body { 
  color : Red;
  font-family : "Comic Sans MS";
  background-image : url("http://www.freeoboi.ru/images/945469665.jpg");
  background-repeat: no-repeat;
  background-position:  left center;
}
table, td {
    border: 1px solid #B0B0B0;
    border-collapse: collapse;
}
td {
    padding: 15px;
}
image {
  float: right;
}
