body { 
  color : #44FFFF;
  font-family : "Comic Sans MS";
  background-image : url("http://p1.pichost.me/i/41/1640968.jpg");
}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
    height: 50px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
}


